@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">QR Code Oluşturma Sayfası</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="receiverMail">QR Kod Metin Verisi</label>
                                <input type="text" name="value" class="form-control" />
                            </div>

                            <div class="card-action px-2">
                                <button class="btn btn-warning">QR Kod Oluştur</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                @if (ViewBag.QrCodeImage != null)
                {
                    <img src="@ViewBag.QrCodeImage" alt="" style="width: 400px; height: 400px;" />
                }
            </div>
        </div>
    </div>
</div>

