@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Kategori İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Kategori Güncelleme Sayfası</div>
						</div>

						<div class="card-body">
							<input type="hidden" asp-for="CategoryID"/>
							<div class="form-group">
								<label for="categoryName">Kategori Adı</label>
								<input type="text" class="form-control" asp-for="CategoryName" id="categoryName" />
							</div>

							<div class="form-group">
								<label for="categoryStatus">Kategori Durumu: </label>

								<label class="form-check-label">
									<input asp-for="CategoryStatus" class="form-check-input" type="checkbox" value="true" />
									<span class="form-check-sign">Aktif</span>
								</label>
							</div>
						</div>

						<div class="card-action">
							<a href="/Category/Index/" class="btn btn-danger">Geri Dön</a>
							<button class="btn btn-primary">Kategoriyi Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

